/*card page*/
.goodDemoPhoto {
  background-color: #f7f7f7;
  min-height: 777px;
  background-image: url("img/cartimage.png");
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: -32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.registrationPage {
  margin-bottom: 96px;
}

.demoPhoto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: -20px;
}

.goodSelect {
  background-color: #ffffff;
  padding: 32px 0 32px 0;
  -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
          box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
  z-index: 1;
}

.goodSelect_outside {
  margin-bottom: 62px;
}

.cardMainHeader {
  margin-bottom: 12px;
  text-align: center;
  font-size: 14px;
}

.cardTextHeader {
  margin-bottom: 12px;
  margin-top: 12px;
  text-align: center;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4D4D4D;
  text-transform: uppercase;
}

.cardText {
  margin-bottom: 32px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #5E5E5E;
  max-width: 555px;
}

.cardPrice {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #ff788f;
  border-bottom: 1px solid #EAEAEA;
  padding-bottom: 65px;
  text-align: center;
  width: 641px;
}

.cardPage {
  margin-bottom: 64px;
}

.cartSelection {
  margin-bottom: 32px;
}

.filterButtonsCart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 49px;
  margin-top: 65px;
}

.cartButton {
  margin-bottom: 65px;
}

.megaHeadingCart {
  width: 90px;
}

.filterCard:hover .mega-box-cart {
  top: 25px;
  right: -70px;
  left: auto;
}

.cartDescription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.buttonContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #ffffff;
  padding: 12px;
  border: 2px solid #ff788f;
}

.arrowLeft {
  padding: 13px;
  background: rgba(42, 42, 42, 0.15);
}

.arrowRight {
  padding: 13px;
  background: rgba(42, 42, 42, 0.15);
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.arrowLeft:hover {
  background-color: #08af8d;
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.arrowRight:hover {
  background-color: #08af8d;
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.basketImage {
  padding-right: 7px;
}

.breadCrumbs_ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.breadCrumbs_li {
  list-style-type: none;
}

.breadCrumbs_li:last-of-type .breadCrumbs_link {
  font-weight: bold;
  color: #ff788f;
}

.breadCrumbs_li:not(:last-of-type)::after {
  content: "/";
  padding-left: 6px;
  padding-right: 6px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}

.breadCrumbs_link {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
  text-decoration: none;
}

.breadCrumbs_link:hover {
  font-weight: bold;
  color: #ff788f;
}

.catalog-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.catalog-card_outside {
  margin-bottom: 130px;
  margin-top: 130px;
}

/*Shopping Cart*/
.cartContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.formCart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 64px;
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  width: 652px;
  height: 306px;
}

.item:hover {
  -webkit-box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
          box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.itemTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.itemsBlock {
  margin-bottom: 73px;
}

.itemText {
  margin-left: 31px;
  margin-top: 22px;
  padding-bottom: 42px;
  width: 100%;
}

.listObject {
  margin-bottom: 6px;
  color: #000000;
  font-size: 22px;
  line-height: 26px;
  color: #575757;
}

.imageBlock {
  margin-right: 28px;
}

.itemHeader {
  color: #000000;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 42px;
  width: 200px;
  text-decoration: none;
  text-transform: uppercase;
}

.itemList {
  list-style: none;
  margin-bottom: 62px;
}

.textNumber {
  position: absolute;
  text-align: center;
  left: 100px;
  right: auto;
  top: 6px;
  border: 1px solid #EAEAEA;
  width: 40px;
}

.quantity {
  position: relative;
}

.cartButtonText {
  color: rgba(120, 120, 120, 0.78);
  font-size: 18px;
  line-height: 16px;
  text-transform: uppercase;
  padding: 12px 12px;
  border: 1px solid #9c9999;
}

.cartControls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 129px;
}

.cartButton2:hover {
  -webkit-box-shadow: 0px 0px 4px 0px black;
          box-shadow: 0px 0px 4px 0px black;
}

.cartControlLink {
  text-decoration: none;
}

.shippingHeader {
  color: #5e5e5e;
  padding-bottom: 21px;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
}

.formCartItem {
  margin-bottom: 21px;
  width: 380px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px 30px 15px 15px;
  border: 1px solid #A4A4A4;
}

.formCartItem:hover {
  -webkit-box-shadow: 0px 0px 4px 0px black;
          box-shadow: 0px 0px 4px 0px black;
}

.shippingButton {
  padding: 10px 10px;
  background-color: transparent;
  border: 1px solid #5e5e5e;
  width: 120px;
  color: #4A4A4A;
  border: 1px solid #A4A4A4;
}

.shippingButton:hover {
  -webkit-box-shadow: 0px 0px 4px 0px black;
          box-shadow: 0px 0px 4px 0px black;
  cursor: pointer;
}

.shipping {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.blackTextCart {
  color: #5e5e5e;
  padding-left: 32px;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
}

.totalLittleText {
  color: #5e5e5e;
  text-transform: uppercase;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  padding-bottom: 16px;
}

.totalBigText {
  color: #5e5e5e;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  border-bottom: 1px solid #b1b1b1;
  padding-bottom: 21px;
  margin-bottom: 17px;
}

.summaryContent {
  text-align: right;
  background-color: #eaeaea;
  padding: 32px 46px;
  margin-bottom: 96px;
}

.priceTextSummary {
  padding-left: 32px;
}

.cartSubmitButtonText {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  padding: 16px 46px;
}

.cartSubmitButton {
  background-color: #ff788f;
  border-style: none;
}

.cartSubmitButton:focus {
  outline-style: none;
}

.cartSubmitButton:hover {
  -webkit-box-shadow: 1px 0px 10px 9px #e8c1ff;
          box-shadow: 1px 0px 10px 9px #e8c1ff;
  cursor: pointer;
}

.summaryContent:hover {
  -webkit-box-shadow: 1px 0px 10px 9px #ff788f;
          box-shadow: 1px 0px 10px 9px #ff788f;
}

.cartButton2:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  background-color: #e8c1ff;
}

.registrationHeader {
  color: #5e5e5e;
  padding-bottom: 21px;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 19px;
  line-height: 19px;
}

.registrationText {
  color: #5e5e5e;
  padding-bottom: 50px;
  font-weight: 300;
  font-size: 19px;
  line-height: 19px;
}

.regListItem {
  margin-bottom: 20px;
  color: #5e5e5e;
  font-weight: 300;
  font-size: 18px;
  line-height: 19px;
}

.regListItem:before {
  content: url(img/tip.svg);
  margin-right: 20px;
}

.regList {
  list-style: none;
}

.regContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 62px;
}

.regDataInput {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.regInput {
  margin-bottom: 21px;
  width: 360px;
  padding: 15px 0px 15px 17px;
  border: 1px solid #A4A4A4;
}

.regInput:hover {
  -webkit-box-shadow: 0px 0px 4px 0px black;
          box-shadow: 0px 0px 4px 0px black;
}

.sex {
  margin-bottom: 16px;
}

.sexText {
  margin-right: 16px;
  color: #5e5e5e;
  font-weight: 300;
  font-size: 18px;
  line-height: 19px;
}

.buttonReg {
  font-size: 18px;
  line-height: 19px;
  padding: 12px 12px;
  color: #ffffff;
  background-color: #ff788f;
  border-style: none;
  width: 200px;
}

.buttonReg:hover {
  -webkit-box-shadow: 1px 0px 10px 9px #e8c1ff;
          box-shadow: 1px 0px 10px 9px #e8c1ff;
  cursor: pointer;
}

.registrationArticle {
  max-width: 500px;
}

.formRegText {
  margin-bottom: 16px;
  color: #5e5e5e;
  font-weight: 300;
  font-size: 18px;
  line-height: 19px;
}

.passwordhelp {
  font-size: 11px;
  width: 360px;
  margin-bottom: 32px;
}

.regArrow {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.buttonRegContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.buttonRegText {
  padding-left: 30px;
}

header {
  background: #222222;
}

* {
  margin: 0;
  padding: 0;
  font-family: Lato, serif;
  font-style: normal;
  font-weight: normal;
  outline-style: none;
  -webkit-transition: color 0.3s, -webkit-transform 0.3s, -webkit-box-shadow 0.3s;
  transition: color 0.3s, -webkit-transform 0.3s, -webkit-box-shadow 0.3s;
  transition: transform 0.3s, box-shadow 0.3s, color 0.3s;
  transition: transform 0.3s, box-shadow 0.3s, color 0.3s, -webkit-transform 0.3s, -webkit-box-shadow 0.3s;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.frontHeader {
  padding-top: 18px;
  padding-bottom: 18px;
}

.frontMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.led1 {
  padding-left: 41px;
}

.led2 {
  padding-right: 33px;
}

.textHeaderLogo {
  font-weight: 900;
  font-size: 48px;
  line-height: 32px;
}

.logo {
  min-height: 764px;
  background-color: #F1E4E6;
  margin-bottom: 65px;
}

.logoContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 764px;
}

.mainText {
  text-transform: uppercase;
  width: 370px;
  color: #222222;
  padding-left: 13px;
  border-left-style: solid;
  border-left-width: 16px;
  border-left-color: #ff788f;
}

.cardsBottom {
  position: relative;
  margin-bottom: 96px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cardsBottom:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.text {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #222222;
}

.pinkText {
  color: #ff788f;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
}

.logoMan {
  margin-left: -100px;
  margin-right: -100px;
}

.brandTextContent {
  max-height: 93px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  margin-right: 331px;
  margin-top: 290px;
  margin-bottom: 381px;
}

.cardsHead {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 30px;
  gap: 30px;
}

.card {
  position: relative;
}

.card:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.imgHello {
  margin-bottom: 30px;
}

.img2 {
  width: 100%;
  position: relative;
}

.img1 {
  width: 100%;
}

.pinkTextCard {
  color: pink;
  font-weight: 300;
  font-size: 24px;
  letter-spacing: 0.01em;
  position: absolute;
  left: 32px;
}

.whiteBig {
  color: #FFFFFF;
  font-size: 16px;
}

.textCard {
  text-transform: uppercase;
  position: absolute;
  top: 105px;
  left: 95px;
  min-width: 154px;
  height: 50px;
  text-align: center;
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
  color: #FFFFFF;
}

.downText {
  position: absolute;
  left: 491px;
  top: 65px;
  color: #FBFBFB;
  text-align: center;
}

.blackText {
  font-size: 30px;
  line-height: 36px;
  color: #222222;
}

.greyText {
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
}

.header {
  text-align: center;
  margin-bottom: 48px;
}

.catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 49px;
}

.catalogContent {
  padding-left: 18px;
  padding-right: 28px;
}

.cardGood {
  background: #F8F8F8;
  width: 360px;
  margin-bottom: 26px;
}

.cardGood:hover {
  -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
          box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.cardGood:hover .catalogImage {
  -webkit-filter: brightness(60%);
          filter: brightness(60%);
}

.cardGood:hover .add-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cardLink {
  text-decoration: none;
  display: block;
}

.priceText {
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  color: #ff788f;
  margin-bottom: 20px;
}

.headerCatalog {
  color: #000000;
  font-size: 13px;
  line-height: 16px;
  background-color: #f7e4e2;
  text-transform: uppercase;
}

.headerCard {
  color: #000000;
  font-size: 13px;
  line-height: 16px;
  background-color: #f7e4e2;
  text-transform: uppercase;
}

.textCatalog {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
  margin-bottom: 18px;
}

.catalogImage {
  padding-bottom: 25px;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.add {
  border: 1px solid #ffffff;
  padding: 10px;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.add:hover {
  -webkit-box-shadow: 0 0 10px #ffffff;
          box-shadow: 0 0 10px #ffffff;
}

.add-box {
  display: none;
  position: absolute;
  top: 178px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.buttonText {
  font-size: 16px;
  line-height: 19px;
  color: #ff788f;
  padding: 12px 12px;
  border: 1px solid #ff788f;
}

.buttonTextCard {
  font-size: 16px;
  line-height: 19px;
  color: #ff788f;
}

.BrowseButton {
  text-align: center;
  max-width: 211px;
  margin-bottom: 95px;
}

.BrowseButton:hover {
  -webkit-box-shadow: 0px 0px 6px 5px #ff788f;
          box-shadow: 0px 0px 6px 5px #ff788f;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.textButton {
  text-decoration: none;
}

.textInfo {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FBFBFB;
}

.textWhite {
  font-size: 20px;
  line-height: 24px;
  color: #FBFBFB;
  padding-bottom: 16px;
}

.imgLittle {
  margin-bottom: 28px;
}

.imgLittle--lorry {
  margin-bottom: 28px;
  -webkit-animation: LorryDrive 1s infinite;
          animation: LorryDrive 1s infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}

.infoBlock {
  padding-top: 104px;
  padding-bottom: 104px;
  background-color: #222222;
}

.addInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.delivery {
  max-width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.delivery:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

@-webkit-keyframes LorryDrive {
  0% {
  }
  100% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
}

@keyframes LorryDrive {
  0% {
  }
  100% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
}

.sales {
  max-width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sales:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.sales:hover .imgLittle {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.quality {
  max-width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quality:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.quality:hover .imgLittle {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.subscription {
  background-image: url(img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 350px;
  padding-top: 97px;
  padding-left: 32px;
  padding-right: 32px;
}

.subscriptionContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.textSubscription {
  font-size: 24px;
  line-height: 167.2%;
  text-align: center;
  color: #222224;
  max-width: 557px;
  margin-bottom: 62px;
}

.boldText {
  font-weight: 900;
  text-transform: uppercase;
}

.helloImage {
  width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.helloImage:hover .textHello {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.textHello {
  text-align: center;
  font-size: 20px;
  line-height: 24px;
  color: #222224;
}

.subscriptionForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 32px;
}

.button {
  background: #ff788f;
  border-top-right-radius: 32px;
  border-bottom-right-radius: 32px;
  border-style: none;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
  padding: 12px 32px 12px 32px;
  cursor: pointer;
}

.buttonCatalog {
  background: #1f40ff;
  border-top-right-radius: 32px;
  border-bottom-right-radius: 32px;
  border-style: none;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
  padding-right: 32px;
  padding-left: 32px;
}

.searchArea {
  background: #E1E1E1;
  border-top-left-radius: 32px;
  border-bottom-left-radius: 32px;
  border-style: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  padding-right: 40px;
  padding-left: 24px;
  cursor: text;
}

.emailArea {
  background: #E1E1E1;
  border-top-left-radius: 32px;
  border-bottom-left-radius: 32px;
  border-style: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  padding: 12px 10px 12px 30px;
  cursor: text;
  width: 250px;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footerText {
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
}

.socialCards {
  width: 32px;
  height: 32px;
  background-color: #ffffff;
  padding: 3px 3px;
  margin-right: 3px;
}

.socialCards:hover {
  background-color: #08af8d;
  -webkit-filter: invert(100%);
          filter: invert(100%);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

footer {
  background-color: #222222;
}

.footerContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 24px 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mega-box {
  display: none;
  border: 1px solid #e8e8e8;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  position: absolute;
  top: 60px;
  right: -170px;
  left: auto;
}

.closeImg {
  position: absolute;
  left: auto;
  right: 0px;
}

.userImg {
  width: 36px;
  height: 36px;
}

.newList {
  position: relative;
  padding: 12px;
}

.newList:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.newList:hover .mega-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.last:hover .mega-box {
  right: 0;
  left: auto;
}

.mega-heading {
  width: 235px;
  margin-bottom: 24px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.mega-heading-details {
  color: #ff788f;
  width: 235px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 16px;
}

.mega-link {
  display: block;
  color: #646464;
  font-size: 14px;
  font-weight: 200;
  text-decoration: none;
  line-height: 28px;
  padding-left: 35px;
}

.mega-link:hover {
  color: #ff788f;
}

.mega-link:hover .addContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.menu-item {
  position: relative;
}

.menu-item:last-of-type {
  margin-right: 0;
}

.mega-box:before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  background-color: #fff;
  position: absolute;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: -7px;
  left: 36px;
  border-left: 1px solid #e8e8e8;
  border-top: 1px solid #e8e8e8;
}

.rightMenuList {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.last:hover .mega-box:before {
  right: 55px;
  left: auto;
}

.formCatalog {
  position: absolute;
  right: auto;
  left: 40px;
  top: 0;
}

.searchEngine {
  position: relative;
  margin-left: 16px;
}

.searchEngine:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.leftMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

summary {
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}

summary:focus {
  outline: none;
}

.headerCatalogCard {
  background: #F8F3F4;
}

.headerCatalogText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 60px 20px 60px 20px;
}

.addContent {
  background-color: #bfebfd;
  -webkit-box-shadow: 0 0 5px gray;
          box-shadow: 0 0 5px gray;
  display: none;
}

.catalogHeaderText {
  font-size: 24px;
  line-height: 29px;
  color: #ff788f;
  font-weight: 400;
  text-transform: uppercase;
}

.pinkTextCatalog {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #ff788f;
  text-decoration: none;
}

.categoriesText {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  text-transform: uppercase;
  padding-right: 11px;
}

.categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px 32px 30px 32px;
  position: relative;
}

.filterText {
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  text-transform: uppercase;
  font-weight: 400;
  padding-left: 10px;
  padding-right: 10px;
}

.filterBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  position: relative;
  padding-bottom: 15px;
}

.filterBlock:hover .mega-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 26px;
  right: -225px;
  left: auto;
}

/*Footer press down*/
.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.top {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

/*Footer press down*/
.filterButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 35%;
  right: auto;
}

.filterCard {
  padding-right: 29px;
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.filterCard:hover .filterText {
  color: #ff788f;
}

.filterCard:hover .mega-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 25px;
  right: -198px;
}

.navPageBlock {
  border: 1px solid #EBEBEB;
  width: 284px;
  margin-bottom: 96px;
  border-radius: 6px;
  padding: 16px 16px 16px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pageNavigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navText {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #c9c8c8;
}

.navText:hover {
  color: #ff788f;
}

.pageLink {
  text-decoration: none;
}

.CardCatalogPage {
  background-color: transparent;
}

.registrationHeader {
  color: #5e5e5e;
  padding-bottom: 21px;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 19px;
  line-height: 19px;
}

.registrationText {
  color: #5e5e5e;
  padding-bottom: 50px;
  font-weight: 300;
  font-size: 19px;
  line-height: 19px;
}

.regListItem {
  margin-bottom: 20px;
  color: #5e5e5e;
  font-weight: 300;
  font-size: 18px;
  line-height: 19px;
}

.regListItem:before {
  content: url(img/tip.svg);
  margin-right: 20px;
}

.regList {
  list-style: none;
}

.regContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 62px;
}

.regDataInput {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.regInput {
  margin-bottom: 21px;
  width: 360px;
  padding: 15px 0px 15px 17px;
  border: 1px solid #A4A4A4;
}

.regInput:hover {
  -webkit-box-shadow: 0px 0px 4px 0px black;
          box-shadow: 0px 0px 4px 0px black;
}

.sex {
  margin-bottom: 16px;
}

.sexText {
  margin-right: 16px;
  color: #5e5e5e;
  font-weight: 300;
  font-size: 18px;
  line-height: 19px;
}

.buttonReg {
  font-size: 18px;
  line-height: 19px;
  padding: 12px 12px;
  color: #ffffff;
  background-color: #ff788f;
  border-style: none;
  width: 200px;
}

.buttonReg:hover {
  -webkit-box-shadow: 1px 0px 10px 9px #e8c1ff;
          box-shadow: 1px 0px 10px 9px #e8c1ff;
  cursor: pointer;
}

.registrationArticle {
  max-width: 500px;
}

.formRegText {
  margin-bottom: 16px;
  color: #5e5e5e;
  font-weight: 300;
  font-size: 18px;
  line-height: 19px;
}

.passwordhelp {
  font-size: 11px;
  width: 360px;
  margin-bottom: 32px;
}

.regArrow {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.buttonRegContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.buttonRegText {
  padding-left: 30px;
}

.logoImage {
  margin-right: 36px;
  margin-left: 36px;
}

/*Down here, working offline sometimes*/
@font-face {
  font-family: 'Lato';
  src: url("fonts/Lato-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@media (max-width: 1100px) {
  .comtainer {
    max-width: 798px;
  }
  .img1 {
    width: 232px;
  }
  .img2 {
    width: 735px;
  }
  .textCard {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
    top: 70px;
    left: 30px;
  }
  .downText {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
    left: 300px;
    top: 25px;
  }
  .logoMan {
    width: 368px;
  }
  .logo {
    min-height: 351px;
  }
  .logoContent {
    height: 351px;
  }
}
/*# sourceMappingURL=style.css.map */